:root {
    --purple: #A729F5;
    --pure-white: #FFFFFF;
    --dark-navy: #313E51;
    --grey-navy: #626C7F;
    --light-grey: #F4F6FA;
    --navy: #3B4D66;
    --light-bluish: #ABC1E1;
    --green: #26D782;
    --red: #EE5454;
    
    

  /* Token */
    --background: hsl(220 38% 97%);
    --foreground: hsl(216 25% 25%);
    --primary: var(--purple);
    --secondary: var(--grey-navy);
    --card: white;


    --bg-url:url("assets/images/pattern-background-desktop-light.svg"); 
  }
  
  .dark {
    --background: var(--dark-navy);
    --foreground: white;
    --secondary: var(--light-bluish);
    --card: var(--navy);


    --bg-url:url("assets/images/pattern-background-desktop-dark.svg"); 
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px 
}

body {
    background-image: var(--bg-url);
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Rubik';
}

.container {
}

nav {
    height: 56px;
    margin: 84px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.right {
    display: flex;
    gap: 8px;
}

.right svg {
    width: 24px;
    fill: var(--secondary);
}

main {
    display: flex;
    gap: 132px;
}

h1 {
    font-size: 4rem;
    font-weight: 300;

    margin-bottom: 48px;
}

b {
    font-weight: 500;
}

p {
    color: var(--secondary);
    font-size: 1.25rem;
    font-style: italic;
}

li {
    height: 96px;
    margin-bottom: 24px;
    list-style-type: none;
    background-color: var(--card);
    cursor: pointer;
    border: 3px solid transparent;

    display: flex;
    align-items: center;
    padding:20px;
    border-radius: 24px;
}

li div {
    margin-left: 32px;
}

ul {
    width: 512px;
}

.selected {
    border: 3px solid var(--purple);
}

button {
    font-family: 'Rubik';
    height: 96px;
    border-radius: 24px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: white;
    width: 100%;
}


#quiz-title {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 60rem) {
    nav {
        margin: 0;
        margin-bottom: 32px;
        height: 80px;
        padding: 24px;
    }

    main {
        gap: 64px;
    }

    main {
        flex-direction: column;
    }

    ul {
        width: 3
    }

    #quiz-title img {
        height: 40px;
        width: 40xpx;
    }
}
